// 320px, 576px, 768px, 992px, 1200px, 1440px

$screen-xxs: 320px;
$screen-xs: 576px;
$screen-s: 768px;
$screen-m: 992px;
$screen-l: 1200px;
$screen-xl: 1440px;

@mixin screen-min-width($min) {
  @media (min-width: $min) {
    @content
  }
}

;

@mixin screen-min-height($min) {
  @media (min-height: $min) {
    @content
  }
}

;

@mixin disable-select() {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}