@import "./../../styles/variables.module.scss";

.puzzleWord {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  max-width: 23rem;
}

.puzzleLetter {
  display: flex;
  color: $dark-puzzle-letter-color;
  font-size: 2rem;
  cursor: inherit;
  justify-content: center;
  vertical-align: middle;
}

.puzzleLetterBox {
  border: 3px solid $dark-puzzle-tile-border-color;
  cursor: pointer;
  display: block;
}
