.wordPuzzleWordContainer {
  min-height: 50vh;
  padding: 10px;
}

.puzzleWord {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  max-width: 23rem;
  margin-bottom: 3px;
}

.puzzleLetter {
  display: flex;
  font-size: 2rem;
  cursor: inherit;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.puzzleLetterBox {
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: block;
}
